# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/

# PyTorch / checkpoint outputs
*.pt
*.pth

# Editor directories
.vscode/
.idea/
